/* GLOBAL STYLES */

h1, h3, .button {
  font-family: 'Montserrat', sans-serif;
}

p, li, a {
  font-family: 'PT Serif', serif;
  line-height: 1.5;
}

body {
  background: #ececec;
  line-height: 1.2;
}

h1 {
  font-size: 30px;
}

img {
  width: 220px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: inline-block;
  padding: 0px 15px;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #000;
  display: inline-block;
}

ul > a:hover {
  color: #77BFA3;
}

.avatar {
  width: 150px;
  border-radius: 50%;
}

.button {
  padding: 10px 20px;
  border-radius: 3px;
  background: #77BFA3;
  color: white;
}

.button:hover {
  background: #77BFA3;
}

/* STRUCTURE STYLES */

.container {
  width: 600px;
  margin: 50px auto;
}

.card {
  margin-bottom: 20px;
  padding: 40px;
  border-radius: 5px;
  background: #ffffff;
}

.img-container {
  display: flex;
  justify-content: space-between;
}

.img-container > img {
  width: 30%;
  margin: 5px;
}

.text-center {
  text-align: center;
}

/* MEDIA QUERIES */

@media (max-width: 720px) {
  .container {
    width: 90%;
  }
  .img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .img-container > img {
    width: 100%;
  }
}

@media (max-width: 540px) {
  .container { width: 90%; }

  .button { display: block; }

  li { font-size: 26px; }

  h1 { font-size: 25px; }

  h3 { font-size: 16px; }
}
